[Desktop Entry]
Type=Application
Name=Flameshot Shortcuts
Exec=/usr/local/bin/configure-flameshot-shortcuts.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
