[Desktop Entry]
Name=Blender {{ blender_version }}
GenericName=3D modeler
Comment=3D modeling, animation, rendering and post-production
Exec={{ blender_install_path }}/blender %f
Icon={{ blender_install_path }}/blender.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
StartupNotify=false
StartupWMClass=Blender
