---
- name: Install Foundry Nuke 16.0v6
  hosts: all
  become: yes
  roles:
    - role: nuke
      nuke_version: "16.0"
      nuke_patch: "6"
      nuke_major_version: "16"
      nuke_executable_name: "Nuke16.0"
